* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

:root {
  font-family: Zen Maru Gothic, Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #e2e2e2;
  color: #443B3B;
}

a {
  text-decoration: none;
  color: inherit;
}

.strong {
  font-weight: 800;
}

.italics {
  font-style: italic;
}

.strike {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.teal-colour {
  color: #3A7D98;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

li {
  list-style: none;
}

/* Loader */

.center-loader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin: 40px;
  max-width: 100%;
}

.loader {
  width: 100px;
  height: 100px;
  border: 20px solid #fefffe;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 404 Not Found */

.not-found {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 5px;
  border-bottom: 3px solid #443B3B;
}

header h1 {
  font-family: Fascinate Inline, Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: #5f5353;
  transition: all 0.3s ease-in-out;
}

header h1:hover {
  color: #3A7D98;
}

.user-icon-container {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  width: fit-content;
  height: 52px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.user-icon-container:hover {
  filter: brightness(0) saturate(100%) invert(48%) sepia(64%) saturate(378%)
    hue-rotate(152deg) brightness(86%) contrast(91%);
}

.user-button {
  left: 0;
  width: 50px;
}

.user-dropdown {
  z-index: 100;
  position: absolute;
  right: 0;
  top: 90px;
  width: 150px;
  background: #ebebeb;
  font-family: Zen Maru Gothic, Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#user-dropdown-first {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#user-dropdown-last {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.user-option {
  width: 100%;
  padding: 10px;
  background: #ebebeb;
  transition: all 0.3s ease-in-out;
}

.user-option:hover {
  background: #cecece;
}

/* Filter/Search Navigation Bar */

.filter-and-sort {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #737373;
}

.filter-and-sort-list {
  position: relative;
  list-style: none;
}

/* Dropdown Filter */

.filter-and-sort-title {
  display: block;
  width: 150px;
  height: 40px;
  background: #737373;
  text-align: center;
  transition: 0.3s background-color;
}

.filter-and-sort-title h2 {
  color: #fefffe;
  font-size: 21px;
  font-weight: 800;
}

.filter-and-sort-title:before {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #737373;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #dddddd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

.filter-and-sort-title:hover {
  background: #443B3B;
}
.filter-and-sort-title:hover:before {
  border-top-color: #443B3B;
}

.filter-and-sort-click:hover > .filter-and-sort-title:before {
  border-top-width: 0;
  transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.filter-and-sort-title:after {
  content: "";
  display: block;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #ebebeb;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  transition: 0.2s border-bottom ease-in;
}

.filter-and-sort-click:hover > .filter-and-sort-title:after {
  border-bottom-width: 5px;
  transition: 0.2s 0.2s border-bottom-width ease-out;
}

.filter-and-sort-dropdown {
  min-width: 150px;
  padding: 15px 0;
  position: absolute;
  background: #ebebeb;
  z-index: 100;
  transition: 0.5s padding, 0.5s background;
}

.filter-and-sort-dropdown:after {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #ebebeb;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.5s border-top;
}

.filter-and-sort-click:not(:hover) > .filter-and-sort-dropdown {
  padding: 4px 0;
  background: #dddddd;
  z-index: 99;
}

.filter-and-sort-click:not(:hover) > .filter-and-sort-dropdown:after {
  border-top-color: #dddddd;
}

.filter-and-sort-click:not(:hover) > .filter-and-sort-title:after {
  border-bottom-color: #dddddd;
}

.filter-and-sort-dropdown > * {
  overflow: hidden;
  height: 30px;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0);
  white-space: nowrap;
  transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5),
    0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5),
    0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color,
    0.2s background-color;
}

.filter-and-sort-dropdown > *:hover {
  background: rgba(0, 0, 0, 0.1);
}

.filter-and-sort-click:not(:hover) > .filter-and-sort-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color,
    0.6s visibility;
  z-index: 99;
}

/* Search Bar */

.search-input {
  display: flex;
  align-items: center;
  background-color: #fefffe;
  width: 80%;
  border-radius: 20px;
  padding: 5px;
}

.search-input label {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.search-input input {
  width: 100%;
  height: 100%;
  padding: 0 10px 0 0;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  font-family: inherit;
  font-size: 20px;
}

.search-input input:focus {
  outline: none;
}

/* Page Navigation Bar */

.pagination {
  margin: 10px;
}

.pagination-buttons {
  display: flex;
  justify-content: space-around;
}

.prev-next-button {
  /* z-index: 10; */
  font-style: inherit;
  font-weight: 800;
  color: #fefffe;
  width: 150px;
  background-color: #737373;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease-in-out;
}

.prev-next-button:hover {
  background-color: #443B3B;
}

.prev-next-button:disabled {
  background-color: #cecece;
  cursor: default;
}

.pagination-info {
  text-align: center;
  margin: 10px;
}

.page-button {
  width: fit-content;
}

.page-dropdown {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 150px;
  background: #ebebeb;
  text-align: center;
  max-height: 300px;
  overflow: auto;
}

.page-option {
  width: 100%;
  background: #ebebeb;
  transition: 0.5s padding, 0.5s background;
}

.page-option:hover {
  background: #cecece;
}

/* Artworks / Search Results */

.works-previews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.works-previews-card {
  display: flex;
  position: relative;
  width: 400px;
  max-width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0 0 10px 5px #cecece;
}

.works-previews-image img {
  max-height: 400px;
  transition: all 0.3s ease-in-out;
}

.works-previews-image img:hover {
  transform: scale(1.05);
}

.works-previews-text-back {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  height: 300px;
  width: 160px;
  background-color: #fefffe;
}

.works-previews-text {
  z-index: 3;
  position: absolute;
  right: 0;
  top: 0;
  height: 300px;
  width: 160px;
  background-color: #fefffe;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  overflow: scroll;
}

.works-previews-text:hover {
  position: absolute;
  transform: translateX(-10%);
}

.works-preview-text-title {
  font-family: Andika, Arial, Helvetica, sans-serif;
}

.works-preview-text-creator {
  font-family: Zen Maru Gothic, Arial, Helvetica, sans-serif;
}

/* Favourite Button */

.add-to-faves {
  position: absolute;
  z-index: 20;
  line-height: 1;
  padding: 5px;
  font-size: 30px;
  color: #fefffe;
  transition: all 0.3s ease-in-out;
}

.add-to-faves:hover {
  color: #faff99;
}

/* Favourite Dropdown */

.faves-dropdown {
  z-index: 100;
  position: absolute;
  left: 10px;
  top: 38px;
  width: 250px;
  max-height: 240px;
  background: #ebebeb;
  font-family: Zen Maru Gothic, Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: scroll;
}

#faves-dropdown-first {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#faves-dropdown-last {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.faves-option-header {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.faves-option {
  width: 100%;
  padding: 10px;
  transition: 0.5s padding, 0.5s background;
}

.faves-option:hover {
  background: #cecece;
}

/* Lightbox */

#lightbox {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #44b1f099;
}

.works-individual {
  display: flex;
  flex-direction: column;
  background-color: #fefffe;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  max-height: 90%;
  max-width: 90%;
  border: 3px solid #fefffe;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px 5px #cecece;
}

.works-individual img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.works-individual-text {
  position: absolute;
  bottom: 0;
  padding: 10px;
  font-style: inherit;
  background-color: #fefffe99;
}

/* Login and Sign up */

.loginsignup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.loginsignup h2 {
  padding: 10px 20px 0;
  margin-bottom: 10px;
}

.loginsignup p {
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

.loginsignup-password-info {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.loginsignup-password-true {
  color: green;
}

.loginsignup-password-false {
  color: red;
}

.loginsignup-link {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.loginsignup-link:hover {
  color: #3A7D98;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.signup-form label {
  padding: 10px;
  text-align: left;
}

.signup-form input {
  font-family: Zen Maru Gothic, Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 5px 15px;
  border: 2px solid #737373;
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
}

.signup-form button {
  margin: auto;
  margin-top: 20px;
  background-color: #cecece;
  width: 200px;
  padding: 10px;
  border: 2px solid #737373;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.signup-form button:hover {
  background-color: #737373;
  border: 2px solid #443B3B;
  color: #fefffe;
}

/* Userpage */

.userpage {
  margin-bottom: 20px;
}

.userpage-text {
  margin: 10px 20px;
}

.userpage p {
  margin-bottom: 10px;
  font-size: 20px;
}

.userpage-name {
  font-weight: 800;
}

.collections-list {
  background-color: #cecece;
  padding: 5px;
}

.collections-list h2 {
  display: flex;
  margin: 5px 15px;
  font-weight: 800;
  font-size: 18px;
}

.collection-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.collection-selector-button-container {
  display: flex;
  position: relative;
  max-width: 100%;
  max-height: fit-content;
  margin-bottom: 10px;
}

.collection-selector-button {
  color: #fefffe;
  background-color: #3A7D98;
  min-width: 150px;
  padding: 0 10px;
  height: 60px;
  border: 2px solid #3A7D98;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.collection-selector-button:hover {
  border: 2px solid #fefffe;
}

#collection-selector-button-on {
  cursor: auto;
  border: 2px solid #faff99;
}

.collection-delete {
  z-index: 10;
  position: absolute;
  top: 2px;
  right: 8px;
  color: #fefffe;
  transition: all 0.3s ease-in-out;
}

.collection-delete:hover {
  color: #faff99;
}

.collection-title {
  font-size: 25px;
}

/* Computer screen CSS */

@media only screen and (min-width: 1000px) {
  /* Page Navigation Bar */
  .pagination {
    position: relative;
  }
  .pagination-info {
    width: 100%;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Tablet screen CSS */

@media only screen and (min-width: 750px) and (max-width: 1000px) {
  /* Page Navigation Bar */
  .pagination {
    position: relative;
  }
  .pagination-info {
    width: 100%;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  /* Artworks / Search Results */
  .works-previews-card {
    width: 350px;
  }
}

/* Big phone screen CSS */

@media only screen and (max-width: 440px) {
  /* Header */
  header {
    font-size: 40px;
    padding: 10px 20px 5px;
  }

  .user-dropdown {
    top: 70px;
  }

  /* Page Navigation Bar */
  .prev-next-button {
    width: 48%;
  }

  /* Artworks / Search Results */
  .works-previews-card {
    width: 350px;
  }
}

/* Medium phone screen CSS */

@media only screen and (max-width: 374px) {
  /* Artworks / Search Results */
  .works-previews-card {
    width: 330px;
  }
}

/* Small phone screen CSS */

@media only screen and (max-width: 340px) {
  /* Header */
  header {
    font-size: 38px;
    padding: 10px 15px 5px;
  }

  .user-icon-container {
    margin: 6px 0;
    height: 45px;
  }

  .user-button {
    width: 45px;
  }

  /* Artworks / Search Results */
  .works-previews-card {
    width: 300px;
    height: 400px;
    flex-direction: column;
  }

  .works-previews-image img {
    width: fit-content;
  }

  .works-previews-text-back {
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 100px;
    width: 100%;
  }

  .works-previews-text {
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 100px;
    width: 100%;
    padding: 10px;
  }

  .works-previews-text:hover {
    transform: translateY(-10%);
  }
}
